/* styles */
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.red-text {
    color: #ff0000;
}

.dark-text {
    color: rgb(7, 2, 17);
}
.bg-red {
    background: #ff0000;
}
.bg-transparent {
    background: transparent;
}
.section-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}
.section-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.section-additional-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}

.merriweather-font {
    font-family: "Merriweather", serif;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

/* header styles */
header {
    color: #fff;
}

/* banner styles */
.banner-content {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 177px 344px;
    margin-top: 50px;
}

.banner-greeting {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* categories style */
.categories-area {
    padding: 120px 0;
}

.big-offer {
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    margin-bottom: 48px;
}

.happy-new-year-img {
    margin-top: 48px;
}

/* midnight party styles */
.midnight-party-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/party.png);
    padding: 68px 0;
    margin-bottom: 120px;
}

.midnight-party-title {
    color: #ffff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    margin-bottom: 24px;
}

.midnight-party-description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.join-now-btn {
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 18px 32px;
    cursor: pointer;
}

/* upcomming event styles */
.upcomming-event-area {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    padding: 100px 0 120px;
}

.upcomming-event-text {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.border-radius {
    border-radius: 8px;
    margin-top: 48px;
}

/* New Offer Section Styles */
.offer-title {
    margin-bottom: 24px;
}

/* New Offer Image Styles */
.new-best-offer-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
}

.new-offer-img {
    width: 463px;
    height: 463px;
    box-sizing: border-box;
    border: 15px solid #ff0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.new-offer-img>img {
    padding: 49px;
}

.new-offer-padding {
    padding: 16px 0 43px;
}

/* Portfolio Section Styles */
.our-portfolio-area{
    padding: 120px 0;
}
.portfolio-padding{
    padding: 16px 0 22px;
}

/* Portfolio Product Styles */
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-top: 26px;
}
.products > img:hover{
    border-radius: 20px;
    box-shadow: 2px 3px 10px rgb(7, 2, 17);
}