/* styles */
* {
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    color: #fff;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/banner.png);
    font-family: "Merriweather", serif;
    padding: 177px 344px;
}

/* banner styles */
.banner-greeting{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}